<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">

    <import resource="loggers.xml"/>
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">

            <list>
                <value>classpath:client.properties</value>
            </list>
        </property>
    </bean>

    <bean id="app" class="com.spring.core.App">
        <constructor-arg ref="client"/>
        <constructor-arg ref="consoleEventLogger"/>
        <constructor-arg ref="loggerMap"/>
    </bean>

    <bean id="client" class="com.spring.core.Client">

        <constructor-arg value="${id}"/>
        <constructor-arg value="${name}"/>
        <property name="greeting" value="${greeting}"/>

    </bean>


    <bean id="event" class="com.spring.core.Event" scope="prototype">
        <constructor-arg>
            <bean class="java.util.Date"/>

        </constructor-arg>
        <constructor-arg ref="dateFormat"/>
    </bean>
    <bean id ="dateFormat" class="java.text.DateFormat" factory-method="getTimeInstance"/>



</beans>